<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
  <script src="../js/animacion.js"></script>
    <title>Document</title>
</head>
<body>
    <button onclick="location.href='crud/reportes.html'">Leer</button>
    <button onclick="location.href='crud/Crear.html'">Crear</button>
    <button onclick="location.href='crud/Eliminar.html'">Eliminar</button>
    <button onclick="location.href='crud/Actualizar.html'">Actualizar</button>

</body>
</html>