<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../eel.js"></script>
    <script src="../js/test.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Siembrascorantioquia</h1>
    <!--
    <label for="checkbox" class="hamburguer">
        <input type="checkbox" id="checkbox">
        <span class="line line-main"></span>
        <span class="line line-split"></span>
    </label>
    -->






  <!--  <input type="submit" value="Click" id="submit" onclick="obtener_python('submit')">
    <input type="submit" value="Click" id="clear" onclick="limpiar()">
    <div id="contenedor"></div> -->
</body>
</html>







<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../eel.js"></script>
    <script src="../js/test.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
         <span class="lines line-1"></span>
         <span class="lines line-2"></span>
         <span class="lines line-3"></span>
       </label>
     
        <a href="#" class="menu-item blue"> crud<i class="fa fa-anchor"></i> </a>
        <a href="#" class="menu-item green">simebras <i class="fa fa-coffee"></i> </a>
        <a href="#" class="menu-item red">simebras <i class="fa fa-heart"></i> </a>
        <a href="#" class="menu-item purple"> simebras<i class="fa fa-microphone"></i> </a>
        <a href="#" class="menu-item orange">simebras<i class="fa fa-star"></i> </a>
        <a href="#" class="menu-item lightblue"> simebras<i class="fa fa-diamond"></i> </a>
     </nav>
</body>
</html>


-->

<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../eel.js"></script>
    <script src="../js/test.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="navMenu" class="diamond">
          <div id="mainRotCorrect" class="rotCorrect"><i class="fa fa-cubes fa-4x" aria-hidden="true"></i></div>
        </div>
        <div id="nav1" class="nav nav1 diamond">
          <div class="rotCorrect"><i class="fa fa-home fa-2x" aria-hidden="true"></i></div>
        </div>
        <div class="popUp">Home</div>
        <div id="nav2" class="nav nav2 diamond">
          <div class="rotCorrect"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></div>
        </div>
        <div id="nav3" class="nav nav3 diamond">
          <div class="rotCorrect"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></div>
        </div>
        <div id="nav4" class="nav nav4 diamond">
          <div class="rotCorrect"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></div>
        </div>
        <div id="nav5" class="nav nav5 diamond">
          <div class="rotCorrect"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></div>
        </div>
      </div>
</body>
</html>


-->


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../eel.js"></script>
    <script src="../js/test.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="navMenu" class="diamond">
          <div id="mainRotCorrect" class="rotCorrect"><i class="fa fa-tree fa-5x" style="font-size:100px" aria-hidden="true"></i></div>
        </div>
      </div>
</body>
</html>

-->